.demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.searchbar-image {
    opacity: 0.5;
    max-width: 222px;
}

.search-results-image {
    opacity: 0.5;
    max-width: 222px;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.title {
    font-size: 2em;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    color: #333;
}